{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../static/pictures/company_logo.png" alt="..." /></div>                    
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder", style="margin-left: 10px; color:black">About us</h1>
                        <nav>
                            <ol class="list_component">
                                <li><a class="list_component" href="#introduction">Introduction</a></li>
                                <li><a class="list_component" href="#mission">Our Mission</a></li>
                                <li><a class="list_component" href="#vision">Our Vision</a></li>
                                <li><a class="list_component" href="#value">Our Value</a></li>
                                
                            </ol>
                        </nav>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5" id="#introduction">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">                                        
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder", style="color:black">소개</h1>
                        <p class="lead" style="color:black">REFILM은 폐기된 필름을 재활용하여 3D 프린팅을 통해 다양한 플라스틱 제품을 생산하는 기업입니다. <br>단순히 재활용을 넘어, 고객님의 개성을 담은 맞춤형 제품을 만들 수 있도록 하는 것이 REFILM의 특징입니다.</p>
                        
                    </div>
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../static/pictures/introduction.jpg" alt="..." /></div>
                </div>
            </div>
        </section>
        <section class="py-5" style="background-image: url('https://cdn.shopify.com/s/files/1/2986/1172/files/mission-hero-bg.jpg'); background-size : cover " id="#mission">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../static/pictures/mission_picture.png" alt="..." /></div>                    
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder", style="color:white">우리의 미션</h1>
                        <p class="lead" style="color:white">혁신과 지속 가능성으로 플라스틱 산업에 혁명을 일으키는 것</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center" id="#vision">
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">우리의 비전</h1>
                        <p class="lead">재활용 HDPE를 더 친환경적인 지구를 위한 길을 열고 산업체들이 친환경적인 관행을 채택하도록 영감을 주는 프리미엄 맞춤형 제품으로 바꾸는 것</p>
                    </div>
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../static/pictures/vision_picture.webp" alt="..." /></div>                    
                </div>
            </div>
        </section>
        <section class="py-5" style="background-image: url('../static/pictures/value.jpg'); background-color: black;" id="#value">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">                 
                    <div class="col-md-6" style="margin : 0 auto">
                        <h1 class="display-5 fw-bolder", style="color:white">우리의 가치</h1>
                        <p class="lead" style="color:white">지속가능성: 폐기되는 필름을 재활용하여 새로운 제품을 생산함으로써 환경 보호에 기여합니다.</p>
                        <p class="lead" style="color:white">맞춤형 제품: 고객님의 개성을 담은 맞춤형 제품을 주문 제작하여 제공합니다.</p>
                        <p class="lead" style="color:white">합리적인 가격: 저렴한 가격으로 고품질의 제품을 제공합니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const navLinks = document.querySelectorAll(".list_component"); // Select all list items
          
            navLinks.forEach(link => {
              link.addEventListener("click", function(event) {
                event.preventDefault(); // Prevent default anchor link behavior
          
                const targetSectionId = this.getAttribute("href"); // Extract section ID from href
                const targetSection = document.getElementById(targetSectionId);
          
                if (targetSection) {
                  targetSection.scrollIntoView({
                    behavior: "smooth" // Smooth scrolling animation
                  });
                }
              });
            });
          </script>
{% endblock %}