{% extends "layout.html" %}

{% block title %}
    Add new products
{% endblock %}

{% block content %}

    <div class="card border-dark bg-white text-dark" style="width: 400px; height: fit-content; margin :10px auto;">
        <div class="card-header">
            <h3>Add new products</h3>
        </div>
        <div class="card-body">
            <form action="/add" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="file" class="form-control" name="image" accept="image/*">
                </div>
                {% if image_error %}
                    <div class="alert alert-danger" role="alert">
                    {{ image_error }}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <input autocomplete="off" autofocus type="text" class="form-control" name="product_name" placeholder="Product name">
                </div>
                {% if product_name_error %}
                    <div class="alert alert-danger" role="alert">
                    {{ product_name_error }}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <input autocomplete="off" autofocus type="number" class="form-control" name="quantity" placeholder="Stock">
                </div>
                {% if quantity_error %}
                    <div class="alert alert-danger" role="alert">
                    {{ quantity_error }}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <input autocomplete="off" autofocus type="number" class="form-control" name="price" placeholder="Price">
                </div>
                {% if price_error %}
                    <div class="alert alert-danger" role="alert">
                    {{ price_error }}
                    </div>
                {% endif %}                
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
