{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block content %}

    <div class="card border-dark bg-white text-dark" style="width: 400px; height: fit-content; margin :10px auto;">
        <div class="card-header">
            <h3>Log in to REFILM</h3>
        </div>
        <div class="card-body">
            <form action="/login" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus type="text" class="form-control" name="username" placeholder="Username">
                </div>
                {% if username_error %}
                    <div class="alert alert-danger" role="alert">
                    {{ username_error }}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                {% if password_error %}
                    <div class="alert alert-danger" role="alert">
                    {{ password_error }}
                    </div>
                {% endif %}                
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
